.showTest {
    animation: show-item 2s ease-in forwards;
}

.hideTest {
    animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: aquamarine;
    }
    50% {
        opacity: 0.5;
        color: burlywood;
    }
    100% {
        opacity: 0;
        color: aqua;
    }
}

@keyframes show-item {
    0% {
        opacity: 0;
        color: aquamarine;
    }
    50% {
        opacity: 0.5;
        color: burlywood;
    }
    100% {
        opacity: 1;
        color: aqua;
    }
}
